<div>
    <p>
        <a href="https://github.com/kaimuell" target="_blank" class="center">
            <img src="assets/logos/GitHub.png" alt="Github" [height]="100">
        </a>
    </p>
    <p>
        <a href="https://www.linkedin.com/in/kai-müller-921702251" target="_blank" class="center">
            <img src="assets/logos/LinkedIn.png" alt="LinkedIn" [height]="80">
        </a>
    </p>
    <p> <a href="mailto:me@kaimueller-code.com" target="_blank" class="center">
        <img src="assets/logos/Email.png" alt="Email" [height]="100">
    </a>
    </p>
</div>