<div>
<p><a class="bigger">Ausbildung</a></p>
<p class="headline"><a class="year">2023</a> Fernuniversität in Hagen</p>
<p>Bachelor of Science Informatik</p>
<p class="headline"><a class="year">2019 - 2023</a> Fernuniversität in Hagen</p>
<p>Studium der Informatik</p>
<p class="headline"><a class="year">2009</a> Kunstakademie Düsseldorf</p>
<p>Meisterschüler und Akademiebrief</p>
<p class="headline"><a class="year">2002 - 2009</a> Kunstakademie Düsseldorf</p>
<p>Studium der freien Kunst</p>
</div>
<br><br>
<div>
<p><a class="bigger">Berufserfahrung</a></p>
<p class="headline"><a class="year">2009 - 2023</a> freischaffender Künstler</p>
<p>Selbstständig</p>
<p class="headline"><a class="year">2013 - heute</a> Koch</p>
<p>Zimmer No. 01, Düsseldorf</p>
</div>